.landingPage {
    display: flex;
    justify-content: center;
}

.listTitle {
    color: #21242b;
    font-size: 20px;
}

.publicRooms {
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
}